@import "tailwindcss";

:root {
  /* --- BACKGROUNDS --- */
  --background: #0B0F19;       /* Deep Navy (Latar Utama) */
  --card: #111625;             /* Navy sedikit terang (Untuk Card/Navbar) */
  
  /* --- TEXT --- */
  --foreground: #F8FAFC;       /* Putih Tulang (Teks Utama/Heading) */
  --text-muted: #94A3B8;       /* Abu-abu Slate (Teks Deskripsi) */

  /* --- ACCENTS (PALET EMAS) --- */
  --gold-champagne: #EACDA3;   /* Emas Muda (Hover/Highlight/Active Text) */
  --gold-main: #D6AE7B;        /* Emas Muted (Border/Icons/Main Accent) */
  --gold-bronze: #9F7928;      /* Emas Tua/Perunggu (Gradient End) */
  --gold-dark: #8F6B29;        /* Emas Gelap (Shadows/Button Background) */
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-navy: var(--background);
  --color-navy-card: var(--card);
  
  --color-champagne: var(--gold-champagne);
  --color-gold: var(--gold-main);
  --color-bronze: var(--gold-bronze);
  --color-dark-gold: var(--gold-dark);

  --animate-blob: blob 7s infinite;

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(30px, -50px) scale(1.1);
    }
    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }
    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
}

@layer utilities {
  .gpu-accelerated {
    will-change: transform; /* Paksa browser pakai GPU */
    transform: translateZ(0); /* Hack untuk trigger hardware acceleration */
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  display: block; 
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--gold-main);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gold-champagne);
}

::selection {
  background: var(--gold-dark);
  color: white;
}